html {
  font-size: 1em;
  
  
  .grid-user {
    width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
  }

  .grid-div {
    width: 40px; 
    height: 40px;
  }

  .grid-AI {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: red;
  }
}