@mixin battlefield($color: Blue) {
  font-size: 1rem;
  width: 25em;
  height: 25em;
  background-color: $color;
  padding: 0;
  margin: 1em;
}

@mixin display(){
  display: flex;
  justify-self: center;
  width: 80%;
  height: auto;
  min-width: 200px;
  margin: 1em;
}

%button-style {
  font-size: 1rem;
  font-style: oblique;
  color: white;
  width: 7em;
  height: 2em;
  background-color: blue;
  &:hover {
    background-color: lightblue;
    box-shadow: 0em 0em 0.3em 0.3em rgb(255, 255, 255, 0.2), 0 0 0.2em 0.2em rgb(252, 252, 252, 0.5);
    color: black;
  }
}

html {
  font-size: 16px; // replace it with 1 rem afterward
  background-color: black;

  #play-board {

    @include display();

    .grid-user {
      @include battlefield($color: yellow);
      display: flex;
      flex-wrap: wrap;
    }
    
    .grid-AI {
      @include battlefield($color: red);
      display: flex;
      flex-wrap: wrap;
    }

  }

  .interface {

    #start {
      @extend %button-style;
    }

    #rotate {
      @extend %button-style;
    }
  }

}