html {
  font-size: 16px;
}
html .grid-user {
  font-size: 1rem;
  width: 25em;
  height: 25em;
  background-color: yellow;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
html .grid-div {
  width: 40px;
  height: 40px;
}
html .grid-AI {
  font-size: 1rem;
  width: 25em;
  height: 25em;
  background-color: red;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
