html {
  font-size: 1em;
}
html .grid-user {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
}
html .grid-div {
  width: 40px;
  height: 40px;
}
html .grid-AI {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: red;
}
