html nav {
  background-color: navy;
  box-shadow: 0 2em 2.5em 1em rgba(42, 15, 197, 0.43), 0em -1em 1em 1em rgba(0, 0, 0, 0.38) inset;
  width: 100%;
  height: 10%;
  min-width: 50em;
  min-height: 5em;
  margin: 0;
  position: fixed;
  left: 0;
  right: 0;
  font-size: 1rem;
}
html nav title {
  font-size: 1em;
}
